

<footer class="footer">
	<!-- Footer Top -->
	<div class="footer-top section">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer about">
						<div class="logo">
							<a asp-action="Index" asp-controller="Home"><h3 class="display-4" style="font-family:'Times New Roman, Times, serif'; color: white">BabiPunSociu Boutique</h3></a>
						</div>
						<p class="text">BabiPunSociu Boutique là một cửa hàng thời trang nữ chuyên cung cấp các sản phẩm thời
							trang nữ đa dạng và phong phú với nhiều mẫu mã đẹp và chất lượng cao. BabiPunSociu Boutique sẽ giúp
							bạn tìm được những bộ trang phục phù hợp với phong cách của bạn và giúp bạn tự tin hơn trong cuộc sống.</p>
						<p class="call">Bạn có câu hỏi? Gọi cho chúng tôi 24/7<span><a href="tel:0971821742">(+84) 971 821 742</a></span></p>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-2 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer links">
						<h4>Thông tin chung</h4>
						<ul>
							<li><a href="#">Về chúng tôi</a></li>
							<li><a href="#">Câu hỏi thường gặp</a></li>
							<li><a href="#">Điều khoản và điều kiện</a></li>
							<li><a href="#">Liên hệ chúng tôi</a></li>
							<li><a href="#">Trợ giúp</a></li>
						</ul>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-2 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer links">
						<h4>Dịch vụ khách hàng</h4>
						<ul>
							<li><a href="#">Phương thức thanh toán</a></li>
							<li><a href="#">Hoàn tiền</a></li>
							<li><a href="#">Trả hàng</a></li>
							<li><a href="#">Vận chuyển</a></li>
							<li><a href="#">Chính sách bảo mật</a></li>
						</ul>
					</div>
					<!-- End Single Widget -->
				</div>
				<div class="col-lg-3 col-md-6 col-12">
					<!-- Single Widget -->
					<div class="single-footer social">
						<h4>Liên lạc</h4>
						<!-- Single Widget -->
						<div class="contact">
							<ul>
								<li>CS1: 125 Nguyễn Ngọc Vũ - Trung Hòa - Cầu giấy - Hà Nội</li>
								<li>Nguyendung281002@gmail.com</li>
								<li>(+84) 971 821 742</li>
							</ul>
						</div>
						<!-- End Single Widget -->
						<ul>
							<li><a href="https://www.facebook.com/tulien.thienxa/"><i class="ti-facebook"></i></a></li>
							<li><a href="#"><i class="ti-twitter"></i></a></li>
							<li><a href="#"><i class="ti-flickr"></i></a></li>
							<li><a href="#"><i class="ti-instagram"></i></a></li>
						</ul>
					</div>
					<!-- End Single Widget -->
				</div>
			</div>
		</div>
	</div>
	<!-- End Footer Top -->
	<div class="copyright">
		<div class="container">
			<div class="inner">
				<div class="row">
					<div class="col-lg-6 col-12">
						<div class="left">
							@{
								var NamHienTai = DateTime.Now.Year;
							}
							<p>Copyright © @NamHienTai <a href="https://www.facebook.com/tulien.thienxa/" target="_blank" style="text-decoration:none;">BabiPunSociu</a></p>
						</div>
					</div>
					<div class="col-lg-6 col-12">
						<div class="right">
							<img src="~/images/payments.png" alt="#">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>